.styled-table {
  width: 100%;
}

::ng-deep .mat-column-id {
  width: 300px;
}

.styled-table th {
  font-weight: bold;
}

.styled-table td {
  text-align: left;
}

.mat-mdc-row:hover {
  cursor: pointer;
  background-color: rgb(232, 234, 237);
}

.results-town,
.results-adresse {
  text-transform: capitalize;
  font-size: 12px;
}

.results-adresse,
.results-town,
.results-name,
.results-maj,
.results-valeur {
  margin-bottom: 3px;
}

.results-name {
  text-transform: capitalize;
  font-weight: bold;
}

.results-maj,
.wrap-maj {
  font-size: 10px;
  text-align: left;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.results-valeur {
  display: block;
}
