.container {
  display: flex;
  height: calc(100vh - 60px);
  position: relative;
}

.map {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-search-box {
  position: absolute;
  top: 10px;
  left: 20%;
  transform: translateX(-50%, -50%);
}

.right {
  flex: 1.5;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.filters {
  display: flex;
  gap: 10px;
}

.filter-rayon {
  // position: absolute;
  // left: 10px;
  // z-index: 1000;
  padding: 16px;
  border: gray 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.filter-rayon input {
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

.filter-rayon label {
  margin-right: 10px;
  font-size: 12px;
}
