<div class="container">
  <div class="map" #map></div>
  <app-search-box
    (locationSelected)="onDataChange($event)"
    class="app-search-box"
  />

  @if (geolocateClicked) {
  <div class="right">
    <div class="filters">
      <div class="filter-rayon">
        <label for="radius">Rayon (en kilomètres entre 1 et 50):</label>
        <input
          min="1"
          max="50"
          type="number"
          id="radius"
          [(ngModel)]="radius"
          (keyup.enter)="onRadiusChange()"
        />
        <button (click)="onRadiusChange()">OK</button>
      </div>
      <div class="filter-fuel">
        <label for="fuel">Choix du carburant</label>
        input:
      </div>
    </div>
    <app-results
      class="results"
      [geoClicked]="geolocateClicked"
      (stationOver)="onStationOver($event)"
      (stationOut)="onStationOut($event)"
    />
  </div>
  }
</div>
