.container {
  display: flex;
  height: calc(100vh - 60px);
  position: relative;
}

.map {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-search-box {
  position: absolute;
  top: 10px;
  left: 25%;
  transform: translateX(-50%, -50%);
}

.right {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.filter {
  position: absolute;
  left: 10px;
  z-index: 1000;
}

.results {
  padding: 10px;
}

.filter-rayon {
  padding: 10px;
}

.filter-rayon input {
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

.filter-rayon label {
  margin-right: 10px;
}
