<div class="container">
  <div class="map" #map>
    <app-search-box
      (locationSelected)="onDataChange($event)"
      class="app-search-box"
      [resetInput]="resetInput"
      (inputResetRequested)="onInputResetRequested()"
    />
  </div>

  @if (geolocateClicked) {
  <div class="right">
    <div class="filters">
      <div class="filter-rayon">
        <label for="radius">Changer le rayon (kms): </label>
        <input
          type="range"
          name="radius"
          id="radius"
          min="1"
          max="10"
          step="1"
          [(ngModel)]="radius"
          (change)="onRadiusChange()"
        />
        <span>{{ radius }}</span>
      </div>

      <div class="filter-fuel">
        <label for="fuel">Choix du carburant</label>
        @for (fuel of listFuels; track fuel.key) {
        <input
          type="checkbox"
          name="{{ fuel.key }}"
          id="{{ fuel.key }}"
          (change)="changeFilter($event, fuel.key)"
          checked="true"
        />
        <label for="{{ fuel.key }}">{{ fuel.label }}</label>
        }
      </div>
    </div>
    <app-results
      class="results"
      [geoClicked]="geolocateClicked"
      (stationOver)="onStationOver($event)"
      (stationOut)="onStationOut($event)"
      (fuelsInSelection)="onFuelSelection($event)"
      (stationsFilteredOutput)="onStationsFiltered($event)"
      [latitude]="latitude"
      [longitude]="longitude"
      [fuelsSelectionned]="fuelsSelectionned"
    />
  </div>
  }
</div>
