.heading {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #000d2d;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 20px;
}

.essencepascher {
  display: flex;
  justify-content: center;
  align-items: center;
}
