.heading {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #000d2d;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  color: white;
}

.essencepascher {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  cursor: pointer;
  box-shadow: #fff 0px 0px 10px 2px;
  border: white 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  background-color: #fff;
  color: #000d2d;
}
